{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load static i18n %}

{% block navprofiletran %}
    here
{% endblock navprofiletran %}

{% block head %}
<link href="{% static 'plugins/custom/datatables/datatables.bundle.css' %}" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
{% endblock head %}

{% block content %}
<!--begin::Main-->
<div class="app-main flex-column flex-row-fluid kt_app_main" id="kt_app_main">
    <!--begin::Content wrapper-->
    <div class="d-flex flex-column flex-column-fluid">
        <!--begin::Toolbar-->
        <div id="kt_app_toolbar" class="app-toolbar py-3 py-lg-6">
            <!--begin::Toolbar container-->
            <div id="kt_app_toolbar_container" class="app-container container-xxl d-flex flex-stack">
                <!--begin::Page title-->
                <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
                    <!--begin::Title-->
                    <h1 class="page-heading d-flex text-dark fw-bold fs-3 flex-column justify-content-center my-0">{% trans "Transactions" %}</h1>
                    <!--end::Title-->
                    <!--begin::Breadcrumb-->
                    <ul class="breadcrumb breadcrumb-separatorless fw-semibold fs-7 my-0 pt-1">
                        <!--end::Item-->
                        <li class="breadcrumb-item text-muted">{% trans "Transactions" %}</li>
                        <!--end::Item-->
                    </ul>
                    <!--end::Breadcrumb-->
                </div>
                <!--end::Page title-->
            </div>
            <!--end::Toolbar container-->
        </div>
        <!--end::Toolbar-->
        <!--begin::Content-->
        <div id="kt_app_content" class="app-content flex-column-fluid">
            <!--begin::Content container-->
            <div id="kt_app_content_container" class="app-container container-xxl">
                <!--begin::Card-->
                <div class="card">
                    <!--begin::Card header-->
                    <div class="card-header border-0 pt-6">

                        <!--begin::Card title-->
                        <div class="card-title">
                            <!--begin::Search-->
                            <div class="d-flex align-items-center position-relative my-1">
                                <!--begin::Svg Icon | path: icons/duotune/general/gen021.svg-->
                                <span class="svg-icon svg-icon-1 position-absolute ms-6">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                        <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                                <input type="text" data-kt-customer-table-filter="search" class="form-control form-control-solid w-250px ps-15" placeholder="{% trans 'Search' %}" />
                            </div>
                            <!--end::Search-->
                        </div>
                        <!--begin::Card title-->
                        <!--begin::Card toolbar-->
                        <div class="card-toolbar">
                            <!--begin::Toolbar-->
                            <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">
                                <!--begin::Filter-->

                                <button type="button" class="btn btn-light-primary me-3" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end" >
                                <!--begin::Svg Icon | path: icons/duotune/general/gen031.svg-->
                                <span class="svg-icon svg-icon-2">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M19.0759 3H4.72777C3.95892 3 3.47768 3.83148 3.86067 4.49814L8.56967 12.6949C9.17923 13.7559 9.5 14.9582 9.5 16.1819V19.5072C9.5 20.2189 10.2223 20.7028 10.8805 20.432L13.8805 19.1977C14.2553 19.0435 14.5 18.6783 14.5 18.273V13.8372C14.5 12.8089 14.8171 11.8056 15.408 10.964L19.8943 4.57465C20.3596 3.912 19.8856 3 19.0759 3Z" fill="currentColor" />
                                    </svg>
                                </span>
                                <!--end::Svg Icon-->
                                    {% trans "Filter" %}</button>
													<div class="menu menu-sub menu-sub-dropdown w-300px w-md-325px kt-toolbar-filter" data-kt-menu="true" id="kt-toolbar-filter">
														<!--begin::Header-->
														<div class="px-7 py-5">
															<div class="fs-4 text-dark fw-bold">Filter Options</div>
														</div>
														<!--end::Header-->
														<!--begin::Separator-->
														<div class="separator border-gray-200"></div>
														<!--end::Separator-->
														<!--begin::Content-->
														<div class="px-7 py-5">

                                                            <div class="mb-10">
																<!--begin::Label-->
																<label class="form-label fs-5 fw-semibold mb-3">Date:</label>
																<!--end::Label-->
																<!--begin::Input-->
                                                                <input placeholder="Date from - to" class="form-control form-control-lg form-control-solid" type="text" name="datetimefilter" id="datetimefilter" />

																<!--end::Input-->

															</div>
                                                            <div class="mb-10">

                                                                <label class="form-label fs-5 fw-semibold mb-3">Transaction Amount: <span id="kt_slider_basic_min"></span>  -  <span id="kt_slider_basic_max"></span></label>
                                                                <div id="kt_slider_basic"></div>


                                                            </div>
                                                            <div class="mb-10">
																<!--begin::Label-->
																<label class="form-label fs-5 fw-semibold mb-3">Contractors:</label>
																<!--end::Label-->
																<!--begin::Input-->
																<select class="form-select form-select-solid" data-kt-select2="true" data-placeholder="Contractor" data-dropdown-parent="#kt-toolbar-filter" id="contractor_filter_select" data-allow-clear="true">
                                                                    <option></option>
                                                                    {% for contractor in contractors %}
                                                                    <option value="{{contractor.contractor_name}}">{{ contractor.contractor_name }}</option>
                                                                    {% endfor %}
																</select>
																<!--end::Input-->
															</div>

															<div class="mb-10">
																<!--begin::Label-->
																<label class="form-label fs-5 fw-semibold mb-3">Currency:</label>
																<!--end::Label-->
																<!--begin::Input-->
																<select class="form-select form-select-solid" data-placeholder="Currency" id="currency_filter_select" data-allow-clear="true">
                                                                    <option></option>
                                                                    {% for currency in currencies %}
                                                                    <option value="{{ currency }}">{{ currency }}</option>
                                                                    {% endfor %}
																</select>
																<!--end::Input-->

															</div>
															<!--end::Input group-->
                                                            <div class="mb-10">
																<!--begin::Label-->
																<label class="form-label fs-5 fw-semibold mb-3">Transaction Type:</label>
																<!--end::Label-->
																<!--begin::Input-->
                                                          <div class="form-control-solid">
                                                          <input type="radio"
                                                           name="transaction_type" value="Expenses" class="form-check-input">
                                                          <label for="contactChoice1" class="form-check-label">Expenses</label>

                                                          <input type="radio"
                                                           name="transaction_type" value="Income" class="form-check-input">
                                                          <label for="contactChoice2" class="form-check-label">Income</label>
                                                        </div>
																<!--end::Input-->
															</div>

															<!--begin::Actions-->
															<div class="d-flex justify-content-end">
																<button type="reset" class="btn btn-light btn-active-light-primary me-2" id="reset_options">Reset</button>
																<button type="click" class="btn btn-primary" id="apply_filter" data-kt-menu-dismiss="true" data-kt-customer-table-filter="reset">Apply</button>
															</div>
															<!--end::Actions-->
														</div>
														<!--end::Content-->
													</div>
                                <!--end::Filter-->
                                <button type="button" class="btn btn-light-primary me-5" id="check_invoices">{% trans "Check Invoices" %}</button>
                                <button type="button" class="btn btn-light-primary me-5" id="check_transact">{% trans "Load Transactions" %}</button>

                                <!--begin::Add customer-->
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#kt_modal_add_customer">{% trans "Add Transaction" %}</button>
                                <!--end::Add customer-->

                            </div>
                            <!--end::Toolbar-->
                            <!--begin::Group actions-->
                            <div class="d-flex justify-content-end align-items-center d-none" data-kt-customer-table-toolbar="selected">
                                <div class="fw-bold me-5">
                                <span class="me-2" data-kt-customer-table-select="selected_count"></span>Selected</div>
                                <button type="button" class="btn btn-danger" data-kt-customer-table-select="delete_selected">Delete Selected</button>
                            </div>
                            <!--end::Group actions-->
                        </div>
                        <!--end::Card toolbar-->

                    </div>
                    <!--end::Card header-->
                    <!--begin::Card body-->
                    <div class="card-body pt-0">
                        <!--begin::Table-->
                        <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_customers_table">
                            <!--begin::Table head-->
                            <thead>
                                <!--begin::Table row-->
                                <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                                    <th class="min-w-10px sorting">{% trans "Date" %}</th>
                                    <th class="min-w-90px">{% trans "Company" %}</th>
                                    <th class="min-w-50px text-center">{% trans "Contractor" %}</th>
                                    <th class="min-w-10px">{% trans "Amount" %}</th>
                                    <th class="min-w-10px">{% trans "Type" %}</th>
                                    <th class="min-w-10px text-center">{% trans "Account" %}</th>
                                    <th class="min-w-150px ">{% trans "Invoices" %}</th>
                                    <th class="text-end min-w-10px">{% trans "Actions" %}</th>
                                </tr>
                                <!--end::Table row-->
                            </thead>
                            <!--end::Table head-->
                            <!--begin::Table body-->
                            <tbody class="fw-semibold text-gray-600">
                                {% for transaction, invoices in instances %}
                                    <tr>
                                    <td> {{ transaction.transaction_date|date:"d.m.Y"  }}</td>
                                    <td>{{ transaction.company }}</td>

                                    <!--end::Name=-->
                                    <!--begin::Email=-->
                                    <td>
                                        <a href="{% url 'contractors:contractor_edit' contr_uid=transaction.contractor.uid %}" class="text-gray-600 text-hover-primary mb-1">{{ transaction.contractor }}</a>
                                    </td>
                                    <!--end::Email=-->
                                    <!--begin::Company=-->
                                    <td>{{ transaction.sum_of_transactions }} {{ transaction.account.currency }}</td>
                                    <!--end::Company=-->
                                    <!--begin::Payment method=-->
                                    <!--end::Payment method=-->
                                    <!--begin::Date=-->
                                    <td>{{ transaction.transaction_type }}</td>

                                    <td>
                                        <a href="{% url 'accounts:account_edit' ac_uid=transaction.account.uid %}" class="text-gray-800 text-hover-primary mb-1">{{ transaction.account.account_id }}</a>
                                    </td>
                                    <td>

                                        <select class="form-select form-select-solid invoice_select" data-placeholder="Invoices" name="select_invoice" data-control="select2" data-allow-clear="true">
                                            <option></option>
                                        {% for invoice in invoices %}
                                            {% if invoice == transaction.invoice %}
                                            <option value="{{ invoice.uid }}" selected>{{ invoice }}</option>
                                            {% else %}
                                            <option value="{{ invoice.uid }}">{{ invoice }}</option>
                                            {% endif %}
                                        {% endfor %}
                                        </select>


                                    </td>

                                    <!--end::Date=-->
                                    <!--begin::Action=-->
                                    <td class="text-end">
                                        <a href="{% url 'transactions:transaction_edit' tr_uid=transaction.uid %}" class="btn btn-light-primary m-0 p-0"><i class="bi bi-pencil-square p-0 m-0 p-2"></i></a>
                                        <button class="btn btn-light-danger delete_data_element m-0 p-0 text-center" value="{{ transaction.uid }}"><i class="bi bi-trash3 p-0 m-0 p-2"></i></button>
                                    </td>
                                    <!--end::Action=-->
                                </tr>
                                {% endfor %}
                            </tbody>
                            <!--end::Table body-->
                        </table>
                        <!--end::Table-->
                        <ul class="pagination">
                            <li class="page-item first m-1">
                            {% if transactions.has_previous %}

                                <a href="?page=1" class="page-link">
                                    <span class="svg-icon svg-icon-2">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
																	<path opacity="0.5" d="M14.2657 11.4343L18.45 7.25C18.8642 6.83579 18.8642 6.16421 18.45 5.75C18.0358 5.33579 17.3642 5.33579 16.95 5.75L11.4071 11.2929C11.0166 11.6834 11.0166 12.3166 11.4071 12.7071L16.95 18.25C17.3642 18.6642 18.0358 18.6642 18.45 18.25C18.8642 17.8358 18.8642 17.1642 18.45 16.75L14.2657 12.5657C13.9533 12.2533 13.9533 11.7467 14.2657 11.4343Z" fill="currentColor"></path>
																	<path d="M8.2657 11.4343L12.45 7.25C12.8642 6.83579 12.8642 6.16421 12.45 5.75C12.0358 5.33579 11.3642 5.33579 10.95 5.75L5.40712 11.2929C5.01659 11.6834 5.01659 12.3166 5.40712 12.7071L10.95 18.25C11.3642 18.6642 12.0358 18.6642 12.45 18.25C12.8642 17.8358 12.8642 17.1642 12.45 16.75L8.2657 12.5657C7.95328 12.2533 7.95328 11.7467 8.2657 11.4343Z" fill="currentColor"></path>
																</svg>
                                    </span>
                                </a>
                            </li>
                            <li class="page-item first m-1">
                                <a href="?page= {{ transactions.previous_page_number }}" class="page-link"><i class="previous"></i></a>
                            </li>
                            {% endif %}
                            {% for page_num in transactions.paginator.page_range %}
                            {% if transactions.number == page_num %}
                                <li class="page-item active m-1"><a href="?page={{ page_num }}" class="page-link">
                                    {{page_num}}</a></li>
                            {% elif page_num > transactions.number|add:'-3' and page_num < transactions.number|add:'3' %}
                                <li class="page-item m-1"><a href="?page={{ page_num }}" class="page-link">{{page_num}}</a></li>
                            {% endif %}
                            {% endfor %}
                            {% if transactions.has_next %}
                            <li class="page-item next m-1">
                                <a class="page-link" href="?page={{ transactions.next_page_number }}"><i class="next"></i></a>
                            </li>
                            <li class="page-item last m-1">
                                  <a class="page-link" href="?page={{ transactions.paginator.num_pages }}">
                                      <span class="svg-icon svg-icon-2">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path opacity="0.5" d="M9.63433 11.4343L5.45001 7.25C5.0358 6.83579 5.0358 6.16421 5.45001 5.75C5.86423 5.33579 6.5358 5.33579 6.95001 5.75L12.4929 11.2929C12.8834 11.6834 12.8834 12.3166 12.4929 12.7071L6.95001 18.25C6.5358 18.6642 5.86423 18.6642 5.45001 18.25C5.0358 17.8358 5.0358 17.1642 5.45001 16.75L9.63433 12.5657C9.94675 12.2533 9.94675 11.7467 9.63433 11.4343Z" fill="currentColor"></path>
                                            <path d="M15.6343 11.4343L11.45 7.25C11.0358 6.83579 11.0358 6.16421 11.45 5.75C11.8642 5.33579 12.5358 5.33579 12.95 5.75L18.4929 11.2929C18.8834 11.6834 18.8834 12.3166 18.4929 12.7071L12.95 18.25C12.5358 18.6642 11.8642 18.6642 11.45 18.25C11.0358 17.8358 11.0358 17.1642 11.45 16.75L15.6343 12.5657C15.9467 12.2533 15.9467 11.7467 15.6343 11.4343Z" fill="currentColor"></path>
                                        </svg>
                                      </span>
                                  </a>
                            </li>
                              {% endif %}
                            <li class="page-item m-1">
                                <a class="page-link" href="?page=all">ALL</a>
                            </li>
                          </ul>
                    </div>
                    <!--end::Card body-->
                </div>
                <!--end::Card-->

                <!--begin::Modals-->
                <!--begin::Modal - Customers - Add-->
                <div class="modal fade" id="kt_modal_add_customer" tabindex="-1" aria-hidden="true">
                    <!--begin::Modal dialog-->
                    <div class="modal-dialog modal-dialog-centered mw-650px">
                        <!--begin::Modal content-->
                        <div class="modal-content">
                            <!--begin::Form-->
							<form class="form" action="{% url 'transactions:add_transaction' %}" id="kt_modal_add_customer_form" method="POST" data-kt-redirect="{% url 'company:companies' %}">
								{% csrf_token %}
								<!--begin::Modal header-->
								<div class="modal-header" id="kt_modal_add_customer_header">
									<!--begin::Modal title-->
									<h2 class="fw-bold">{% trans "Add new Transaction" %}</h2>
									<!--end::Modal title-->
									<!--begin::Close-->
									<div id="kt_modal_add_customer_close" class="btn btn-icon btn-sm btn-active-icon-primary">
										<!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
										<span class="svg-icon svg-icon-1">
											<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
												<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
												<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
											</svg>
										</span>
										<!--end::Svg Icon-->
									</div>
									<!--end::Close-->
								</div>
								<!--end::Modal header-->
								<!--begin::Modal body-->
								<div class="modal-body py-10 px-lg-17">
									<!--begin::Scroll-->
									<div class="scroll-y me-n7 pe-7" id="kt_modal_add_customer_scroll" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-max-height="auto" data-kt-scroll-dependencies="#kt_modal_add_customer_header" data-kt-scroll-wrappers="#kt_modal_add_customer_scroll" data-kt-scroll-offset="300px">
                                        <div class="fv-row mb-7">
                                            <label class="required fs-6 fw-semibold mb-2">{% trans "Transaction Date" %}</label>
                                            <div class="input-group input-group-solid flex-nowrap">
                                                <span class="input-group-text"><i class="bi bi-calendar fs-4"></i></span>
                                                <div class="overflow-hidden flex-grow-1">
                                                    <input class="form-control form-control-lg form-control-solid rounded-start-0 border-start" id="datetimes" type="text" name="datetimes"/>

                                                </div>
                                            </div>
                                            </div>
                                        <div class="fv-row mb-7">
                                            <label class="required fs-6 fw-semibold mb-2">{% trans "Companies" %}</label>
                                            <div class="input-group input-group-solid flex-nowrap">
                                                <span class="input-group-text"><i class="bi bi-bank fs-4"></i></span>
                                                <div class="overflow-hidden flex-grow-1">
                                                        <select class="js-example-basic-multiple form-select form-select form-select-solid rounded-start-0 border-start" id="select_company" name="company_uid" data-placeholder="Company">
                                                            <option></option>
                                                            {% for company in companies %}
															<option value="{{ company.uid }}">{{ company }}</option>
															{% endfor %}
														</select>
                                                </div>
                                            </div>
                                            </div>
                                        <div class="fv-row mb-7">
                                            <label class="required fs-6 fw-semibold mb-2">{% trans "Account" %}</label>
                                            <div class="input-group input-group-solid flex-nowrap">
                                                <span class="input-group-text"><i class="bi bi-wallet fs-4"></i></span>
                                                <div class="overflow-hidden flex-grow-1">
                                                    <select class="js-example-basic-multiple form-select form-select form-select-solid rounded-start-0 border-start" id="select_account" name="account_uid" data-placeholder="For first select Company">
                                                        <option></option>
                                                        {% for account in accounts %}
															<option value="{{ account.uid }}">{{ account }}</option>
															{% endfor %}
														</select>
                                                </div>
                                            </div>
                                            </div>
                                        <div class="fv-row mb-7">
                                            <label class="required fs-6 fw-semibold mb-2">{% trans "Contractor" %}</label>
                                            <div class="input-group input-group-solid flex-nowrap">
                                                <span class="input-group-text"><i class="bi bi-person-bounding-box fs-4"></i></span>
                                                <div class="overflow-hidden flex-grow-1">
                                                    {% if contractors %}
                                    					<select class="js-example-basic-multiple form-select form-select form-select-solid rounded-start-0 border-start" id="select_contractor" name="contractor_uid" >
															{% for contractor in contractors %}
															<option value="{{ contractor.uid }}">{{ contractor }}</option>
															{% endfor %}
														</select>
                                                    {% else %}
                                                        <input type="text" class="form-control form-control-solid" placeholder="{% trans 'Contractor name' %}" name="contractor_name" required />
                                                    {% endif %}
                                                </div>
                                            </div>
                                            </div>
                                        <!--end::Input-->
                                        <!--begin::Input group-->
                                        <div class="fv-row mb-7">
                                            <label class="required fs-6 fw-semibold mb-2">{% trans "Transaction Amount" %}</label>
                                            <div class="input-group input-group-solid flex-nowrap">
                                                <span class="input-group-text"><i class="bi bi-cash-coin fs-4"></i></span>
                                                <div class="overflow-hidden flex-grow-1">
											        <input type="number" min="0" step="0.01" class="form-control form-control-lg form-control-solid rounded-start-0 border-start" placeholder="{% trans 'Transaction Amount' %}" name="transaction_amount" required />

                                                </div>
                                            </div>
                                            </div>

										<!--end::Input group-->
                                        <div class="fv-row mb-7">
														<!--begin::Label-->
														<label class="required fs-6 fw-semibold mb-2">{% trans "Transaction Type" %}</label>
														<!--end::Label-->
														<!--begin::Input-->
                                                        <div class="form-control-solid">
                                                          <input type="radio" id="contactChoice1"
                                                           name="type_transact" value="Expenses" class="form-check-input" required>
                                                          <label for="contactChoice1" class="form-check-label">Expenses</label>

                                                          <input type="radio" id="contactChoice2"
                                                           name="type_transact" value="Income" class="form-check-input type_transact" required>
                                                          <label for="contactChoice2" class="form-check-label">Income</label>
                                                        </div>
														<!--end::Input-->
													</div>

									</div>
									<!--end::Scroll-->
								</div>
								<!--end::Modal body-->
								<!--begin::Modal footer-->
								<div class="modal-footer flex-center">
									<!--begin::Button-->
									<button type="reset" id="kt_modal_add_customer_cancel" class="btn btn-light me-3">Discard</button>
									<!--end::Button-->
									<!--begin::Button-->
									<button type="submit" id="kt_modal_add_customer_submit" class="btn btn-primary">
										<span class="indicator-label">Submit</span>
										<span class="indicator-progress">Please wait...
										<span class="spinner-border spinner-border-sm align-middle ms-2"></span></span>
									</button>
									<!--end::Button-->
								</div>
								<!--end::Modal footer-->
							</form>
                            <!--end::Form-->
                        </div>
                    </div>
                </div>
                <!--end::Modal - Customers - Add-->

                <!--end::Modals-->
            </div>
            <!--end::Content container-->
        </div>
        <!--end::Content-->
    </div>
    <!--end::Content wrapper-->

</div>
<!--end:::Main-->
{% endblock content %}

{% block scripts %}
		<script src="{% static 'js/custom/apps/customers/list/list.js'%}"></script>
<script>
$(".delete_data_element").click(function () {
var element= $(this).parents("tr");
					Swal.fire({
						text: "{% trans 'Are you sure you want to delete this transaction?' %}",
						icon: "warning",
						showCancelButton: !0,
						buttonsStyling: !1,
						confirmButtonText: "{% trans 'Yes, delete!' %}",
						cancelButtonText: "{% trans 'No, cancel' %}",
						customClass: {
							confirmButton: "btn fw-bold btn-danger",
							cancelButton: "btn fw-bold btn-active-light-primary"
						}
}).then((result) => {
    if (result.value) {
        $.ajax({
            url: "{% url 'transactions:delete_transaction' %}",
            method: "POST",
            data: {
					csrfmiddlewaretoken: "{{csrf_token}}",
            		uid: $(this).attr("value")
            	   },
            success: function () {
						Swal.fire({
							text: "{% trans "You have deleted!" %}",
							icon: "success",
							buttonsStyling: !1,
							confirmButtonText: "{% trans "Ok, got it!" %}",
							customClass: {
								confirmButton: "btn fw-bold btn-primary"
							}
						}).then(function () {
					$(element).remove();
                });
            },
        })
    } else if (result.dismiss === swal.DismissReason.cancel) {
					Swal.fire({
							text: "{% trans 'Transaction was not deleted.' %}",
							icon: "error",
							buttonsStyling: !1,
							confirmButtonText: "Ok, got it!",
							customClass: {
								confirmButton: "btn fw-bold btn-primary"
							}
						})
    }
})
});
</script>
<script>
$(function() {
  $('input[name="datetimes"]').daterangepicker({
    timePicker: true,
    timePicker24Hour: true,
    timePickerSeconds: true,
    drops: "down",
    locale: {
      format: 'DD.MM.YYYY HH:mm:ss',
    },
    singleDatePicker: true
  });
});
</script>

<script>
    $(document).ready(function() {
    $('#select_contractor').select2({tags: true, dropdownParent: $("#kt_modal_add_customer_scroll").parent()});
    $('#select_company').select2({tags: false, dropdownParent: $("#kt_modal_add_customer_scroll").parent()});
    $('#select_account').select2({tags: false, dropdownParent: $("#kt_modal_add_customer_scroll").parent()});
    $('#select_transaction_type').select2({tags: true, minimumResultsForSearch: -1});
    $('#currency_filter_select').select2({tags: false, minimumResultsForSearch: -1 ,dropdownParent: $("#kt-toolbar-filter").parent()});
});
</script>
<script>
var slider = document.querySelector("#kt_slider_basic");
var valueMin = document.querySelector("#kt_slider_basic_min");
var valueMax = document.querySelector("#kt_slider_basic_max");

noUiSlider.create(slider, {
    start: [0, 5000],

    connect: true,
    range: {
        "min": 0,
        "max": 10000
    }
});

slider.noUiSlider.on("update", function (values, handle) {
    if (handle) {
        valueMax.innerHTML = values[handle];
    } else {
        valueMin.innerHTML = values[handle];
    }
});
</script>
<script>
$(document).on('click', 'body .kt-toolbar-filter', function (e) {
    e.stopPropagation();
});

  $('#datetimefilter').daterangepicker({
    startDate: moment().subtract(2, 'month'),
    endDate: moment(),
    locale: {
        format: 'DD.MM.YYYY'
    },
  }, function(start, end, label) {
  });

// after daterangepicker
$("div.daterangepicker").click( function(e) {
   e.stopPropagation();
});

</script>

<!--Filters-->
<script>
	function FilterRange(from, to) {
  var from = from;
  var to = to;

  from = from || '0';
  to = to || '100000000';

  $('#kt_customers_table tbody tr').each(function(i, tr) {
	var amount = $(tr).find("td:visible:nth-child(3)").text();
	var amount = Number(amount);
	if (amount < from || amount > to) {
	$(tr).css('display', 'none');
	}
  });
}
</script>
<script>
	function filterRows(from, to) {
  var from = from;
  var to = to;

  from = from || '1970/01/01'; // default from to a old date if it is not set
  to = to || '2999/12/31';

  var dateFrom = moment(from);
  var dateTo = moment(to);

  $('#kt_customers_table tbody tr').each(function(i, tr) {
	var val = $(tr).find("td:visible:nth-child(1)").text();
	var dateVal = moment(val, "DD.MM.YYYY");
	var visible = (dateVal.isBetween(dateFrom, dateTo, null, [])) ? "" : "none"; // [] for inclusive
	$(tr).css('display', visible);
  });
}
</script>
<script>
var str=""
$('#apply_filter').on('click',function(){

    var rows = $('#kt_customers_table tr:not(:first)');
    rows.hide();

    var sub = $("#currency_filter_select").val();
    var select = $("input[name=transaction_type]:checked").val();
    var contractor = $("#contractor_filter_select").val();
    if (select==null) {
        var select = "";
    }

    str = ":contains('" + sub + "'):contains('" + select + "'):contains('" + contractor + "')"
    rows.filter(str).show();
});
</script>
<script>
$('#apply_filter').on('click',function(){
    var drp = $('#datetimefilter').data('daterangepicker');
    var start = drp.startDate.format('YYYY-MM-DD');
    var end = drp.endDate.format('YYYY-MM-DD');

    var min = $('#kt_slider_basic_min').text();
    var max = $('#kt_slider_basic_max').text();
    filterRows(start, end);
    FilterRange(min, max);
});
</script>
<!--endFilters-->
<script>
    $('#reset_options').click(function() {
     $('tr').show();
	 $("input[name=transaction_type]").prop('checked', false);
	 $("#currency_filter_select").val('').trigger('change');
	 $("#contractor_filter_select").val('').trigger('change');
	 $("#kt_slider_basic")[0].noUiSlider.reset();
	 $('#datetimefilter').val('');
});
</script>
<script>
    $(document).on('change','#select_company', function(){
		$.ajax({
			type: "POST",
			url: '{% url 'transactions:get_transaction_company' %}',
			data: {
						company: $('#select_company option:selected').val(),
						csrfmiddlewaretoken: "{{csrf_token}}"
					},
			success: function(data) {
			 $("#select_account").empty();
			 var keys = Object.keys(data);

			 for (var i = 0, l = keys.length; i < l; i++) {
			    var newState = new Option(keys[i], data[keys[i]], true, true);

			          if ($("#select_account").find("option[value=" + data[keys[i]] + "]").length) {
                        $("#select_invoice").val(data[keys[i]]).trigger("change");
                      } else {

			    $("#select_account").append(newState).trigger('change');}
			 }
			 },
		  });
});
</script>
<script>
$(document).on("click", "#check_invoices", function () {
  $(this).text('Loading... ')
  $(this).append('<span class="spinner-border spinner-border-sm"></span>')
  var this_but = $(this);

  $.ajax({
    type: "POST",
    url: '{% url 'integrations:add_invoices' %}',
    data: {
            csrfmiddlewaretoken: "{{csrf_token}}"
            },
    success: function(data) {
    location.href = "{% url 'transactions:transactions_list' %}"
     },
     error: function(data) {
          $(this_but).attr('class', 'btn btn-light-danger me-5')
          $(this_but).text('Something was wrong')
     }
  })
});
</script>
<script>
$(document).on("click", "#check_transact", function () {
  $(this).text('Loading... ')
  $(this).append('<span class="spinner-border spinner-border-sm"></span>')
  var this_but = $(this);
  $.ajax({
    type: "POST",
    url: '{% url 'transactions:load_transactions' %}',
    data: {
            csrfmiddlewaretoken: "{{csrf_token}}"
            },
    success: function(data) {
    location.href = "{% url 'transactions:transactions_list' %}"
     },
     error: function(data) {
          $(this_but).attr('class', 'btn btn-light-danger me-5')
          $(this_but).text('Something was wrong')
     }
  })
});
</script>

<script>
$('.invoice_select').on("select2:unselect", function(e){
         var data = e.params.data;
         var unselected_value = data.id;
         var row = $(this).closest('tr')
         var transaction_uid = row.find('.delete_data_element').val()

         $.ajax({
			type: "POST",
			url: '{% url 'transactions:delete_invoice' %}',
			data: {
					    invoice_uid: "" + unselected_value,
						transaction_uid: transaction_uid,
						csrfmiddlewaretoken: "{{csrf_token}}"
					},
			success: function(data) {
			 },
		  });
    }).trigger('change');
</script>
<script>
$('.invoice_select').on("select2:select", function(e){
         var data = e.params.data;
         var unselected_value = data.id;
         var row = $(this).closest('tr')
         var transaction_uid = row.find('.delete_data_element').val()

         $.ajax({
			type: "POST",
			url: '{% url 'transactions:add_invoice' %}',
			data: {
					    invoice_uid: "" + unselected_value,
						transaction_uid: transaction_uid,
						csrfmiddlewaretoken: "{{csrf_token}}"
					},
			success: function(data) {
			 },
		  });
    }).trigger('change');
</script>
{% endblock scripts %}